In [1]:
### Accessing tuple elements

t=('p','y','t','h','o','n')
t[0]

'p'

In [2]:
t[1]

'y'

In [3]:
# nested tuple --> tuple inside another tuple
# nested tuple are accessed with nested indexing

t=('mouse',[1,3,5],(90,87,67))
t[1]

[1, 3, 5]

In [4]:
t[0]

'mouse'

In [5]:
t[2]

(90, 87, 67)

In [6]:
t[1][0]

1

In [7]:
t

('mouse', [1, 3, 5], (90, 87, 67))

In [8]:
t[2][1]

87

In [9]:
# negative indexing

t[-1]

(90, 87, 67)

In [11]:
t[-2]

[1, 3, 5]

In [12]:
t[-3]

'mouse'

In [13]:
t[-1][0]  #90

90

In [14]:
t[-2][1]  #3

3

In [15]:
#slicing -> we can access range of elements using slicing operator :

t=(10,20,30,40,50,60)
t

(10, 20, 30, 40, 50, 60)

In [16]:
# 10,20,30   # [start,stop,step]

t[:3]   #t[:n+1]

(10, 20, 30)

In [18]:
# 30,40,50

t[2:5]

(30, 40, 50)

In [19]:
t[-1:]

(60,)

In [20]:
# print all elements from start to end

t[:]

(10, 20, 30, 40, 50, 60)

In [21]:
t[::-1]   #reverse order

(60, 50, 40, 30, 20, 10)

In [22]:
t

(10, 20, 30, 40, 50, 60)

In [23]:
#Alternate elements

t[::2]  #10,30,50

(10, 30, 50)

In [24]:
#20,40,60

t[1::2]

(20, 40, 60)

In [25]:
# sum of the elements

sum(t)

210

In [26]:
#minimum element 

min(t)

10

In [27]:
# maximum element

max(t)

60

In [28]:
t   #immutable

(10, 20, 30, 40, 50, 60)

In [30]:
t[0]=90   #not support

TypeError: 'tuple' object does not support item assignment

In [32]:
l=[1,2,3]  #mutable
l[0]=100
l

[100, 2, 3]

In [33]:
# changing tuple elements is not possible but if the element is a list,its nested values can be change

t=(1,2,3,[10,20,30])

In [34]:
t

(1, 2, 3, [10, 20, 30])

In [37]:
print(t[0])
print(t[1])
print(t[2])
print(t[3])

1
2
3
[10, 20, 30]

In [38]:
t[3]

[10, 20, 30]

In [39]:
t[0]=1090

TypeError: 'tuple' object does not support item assignment

In [40]:
t[3][2]=1000

In [41]:
t

(1, 2, 3, [10, 20, 1000])

In [42]:
# concatenate operator '+'

t1=(1,2,3)
t2=(4,5,6)
t1+t2  #combines 2 tuple

(1, 2, 3, 4, 5, 6)

In [43]:
# repetition operator '*'

t=(90,87,5)
t*4           #repeat the tuple for 4 times

(90, 87, 5, 90, 87, 5, 90, 87, 5, 90, 87, 5)

In [44]:
t

(90, 87, 5)

In [45]:
# deleting a tuple

t

(90, 87, 5)

In [46]:
del t

In [47]:
t

NameError: name 't' is not defined

In [50]:
# tuple methods, methods are not available to add or remove elements

# index() -> to get the index of tuple element

t=(90,78,56,798,3445,56,56)
t.index(3445)

4

In [51]:
# count() -> no of occurrances of given element inside a tuple 


t.count(56)

3

In [52]:
# membership operator -> in

# existance of element in a given string

print(78 in t)

True

In [53]:
print(1000 in t)

False

In [54]:
# Iterating through a tuple

for i in t:
    print(i,end=" ")

90 78 56 798 3445 56 56

### Sets

* set is a unordered collection of items.
* Every set element is unique
* doesnot allows duplicate values

In [55]:
# creating sets

s={1,2,3}
print(type(s))

<class 'set'>

In [56]:
s1=set()
print(type(s1))

<class 'set'>

In [57]:
# since sets are unordered, we can't access or change an element of a set using index

s1={1,"hello",(10,9,6)}
s1

{(10, 9, 6), 1, 'hello'}

In [58]:
s1[0]

TypeError: 'set' object is not subscriptable

In [59]:
# add()  -> to add single item to a set

s1.add(9000)

In [60]:
s1

{(10, 9, 6), 1, 9000, 'hello'}

In [61]:
s1.add("python")

In [62]:
s1

{(10, 9, 6), 1, 9000, 'hello', 'python'}

In [63]:
# update() -> add multiple elements to a set i.e lists,tuple,set

s1.update((101,203))
s1

{(10, 9, 6), 1, 101, 203, 9000, 'hello', 'python'}

In [64]:
s1.update({9090,87878})
s1

{(10, 9, 6), 1, 101, 203, 87878, 9000, 9090, 'hello', 'python'}

In [65]:
s1.update([45,33])

In [66]:
s1

{(10, 9, 6), 1, 101, 203, 33, 45, 87878, 9000, 9090, 'hello', 'python'}

In [67]:
# discard an element

s={1,2,3,4,5}
s.discard(5)

In [68]:
s

{1, 2, 3, 4}

In [69]:
# removing an element

s1={90,80,70,60,50}
s1.remove(70)
s1

{50, 60, 80, 90}

In [71]:
# Set of unique elements

s=set("helloworld")  #removes duplicates and creates a set of items in alphabetical order
s

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

In [72]:
# pop an set element

#pop()

s

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

In [73]:
s.pop()

'd'

In [74]:
s.pop()

'e'

In [75]:
# clear a set

# clear () -> to clear a set 
  
s.clear()

In [76]:
s

set()

In [77]:
# set operations

A={1,2,3,4,5}
B={5,6,7,8,9,10}
A.union(B)  # ALL Elements from both sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [78]:
# Intersection -> common elements

A.intersection(B)

{5}

In [79]:
B.intersection(A)

{5}

In [80]:
# difference of 2 sets accomplished by '-' ,same by difference method


A-B  # elements of A , that are not in B

{1, 2, 3, 4}

In [81]:
B-A  # elements of B , that are not in A

{6, 7, 8, 9, 10}

In [84]:
print(A)
print(B)
print(A.difference(B))
print(B.difference(A))

{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9, 10}
{1, 2, 3, 4}
{6, 7, 8, 9, 10}

In [85]:
# Symmetric difference

print(A)
print(B)
A.symmetric_difference(B)   # elements of A and B, excluding intersection elements

{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9, 10}

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [87]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [88]:
x={1,2,3}
y={7,9,8}
x=y.copy()

In [89]:
x

{7, 8, 9}

In [90]:
s1={90,80,76}
s2={90,80,76,54,32,12}
s1.issubset(s2)  #checking s1 is subset of s2 or not

True

In [92]:
s2.issuperset(s1)

True

In [94]:
c={1,2}
d={7,8,9,60}

print(c.isdisjoint(d))   #no common values

# returns true if both sets have null intersection

True

In [95]:
# set membership test

print(i in c)

False

In [96]:
print(1 in c)

True

In [97]:
# iterating through a set

for i in c:
    print(i,end=" ")

1 2

In [98]:
# Builtin functions with sets

all(c)   # returns true if set is not empty

True

In [108]:
h=set()
type(h)
h

set()

In [109]:
all(h)

True

In [110]:
any(c)  # returns true if any element of set is true,otherwise returns false

True

In [111]:
c.clear()

In [112]:
any(c)

False

In [113]:
d={3,7,8,100}

print(min(d))
print(max(d))
print(sum(d))
print(len(d))

3
100
118
4

In [114]:
sorted(d,reverse=True)

[100, 8, 7, 3]