### Pandas

* Pandas is a builtin library used for Data Analysis. Pandas used for Data manipulations,
  Visualizatiions and building machine learning models.
  
* pandas implements a number of powerful data operations familiar to users of both database      frameworks and spread sheet programs

* There are 2 main data structures in pandas: Series and Dataframe. the default way to store data is dataframes and thus manipulating dataframes quickly is probably the most important skillset for data analysis.

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.0.1'

### Pandas Series

* A series is similar to a 1-D array, and contains values of the same  type(numeric,character, datetime etc) . A dataframe is a table where each column is a pandas series.

* Creating series
    * List
    * Tuple
    * Dictionary
    * Numpy
    * Data_Range
  
* Series indexing

In [3]:
# Creating pandas series by using List

l=[12,34,5,6,78,90]
p=pd.Series(l)
p

0    12
1    34
2     5
3     6
4    78
5    90
dtype: int64

In [4]:
# Creating pandas Series using tuple

t=(10,30,50,60)
p1=pd.Series(t)
p1   # indexing starts from 0

0    10
1    30
2    50
3    60
dtype: int64

In [7]:
p1=pd.Series(t,index=['a','b','c','d'])  #Reindexing
p1

a    10
b    30
c    50
d    60
dtype: int64

In [8]:
# Creating Series with dictionary

d={'asha':10,'b':20,'c':30,'d':40,'e':90}
s=pd.Series(d)
s

asha    10
b       20
c       30
d       40
e       90
dtype: int64

In [9]:
s.index=[1000,2000,3000,'d','e']  #Reindexing
s

1000    10
2000    20
3000    30
d       40
e       90
dtype: int64

In [10]:
# Getting value by using index

s['d']

40

In [11]:
s[1000]

10

In [12]:
s[1:3]   # start, stop

2000    20
3000    30
dtype: int64

In [13]:
s[1:4:2   # start, stop, step

2000    20
d       40
dtype: int64

In [14]:
import numpy as np

s

1000    10
2000    20
3000    30
d       40
e       90
dtype: int64

In [15]:
s.index=np.arange(100,105)   # reindexing the index by using np arange
s

100    10
101    20
102    30
103    40
104    90
dtype: int64

### Note :  Always length index values is equal to data values

In [16]:
a=pd.Series("APSSDC",index=[1,2,3])  #data, index
a

1    APSSDC
2    APSSDC
3    APSSDC
dtype: object

In [ ]:
# Creating Series Objects ,data having squares of index values

0 -- 0
1 -- 1
2 -- 4
3 -- 9
4 -- 16
.
.
.
10 -- 1000

In [17]:
p=pd.Series([x**2 for x in range(11)])   # List Comprehension
p

0       0
1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
dtype: int64

In [20]:
num=int(input())

d={i:i**2 for i in range(1,num+1)}   #dictionary comprehension
s1=pd.Series(d)
s1

10

1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
dtype: int64

In [21]:
a=pd.Series(np.square(np.arange(1,10)))   #numpy
a

0     1
1     4
2     9
3    16
4    25
5    36
6    49
7    64
8    81
dtype: int32

In [22]:
# Date range method

dates = pd.date_range(start="2020-10-05",end="2020-10-12")
dates

DatetimeIndex(['2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08',
               '2020-10-09', '2020-10-10', '2020-10-11', '2020-10-12'],
              dtype='datetime64[ns]', freq='D')

In [23]:
import calendar
import datetime
import time

In [24]:
help(pd.date_range)

Help on function date_range in module pandas.core.indexes.datetimes:

date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs) -> pandas.core.indexes.datetimes.DatetimeIndex
    Return a fixed frequency DatetimeIndex.

    Parameters
    ----------
    start : str or datetime-like, optional
        Left bound for generating dates.
    end : str or datetime-like, optional
        Right bound for generating dates.
    periods : int, optional
        Number of periods to generate.
    freq : str or DateOffset, default 'D'
        Frequency strings can have multiples, e.g. '5H'. See
        :ref:`here <timeseries.offset_aliases>` for a list of
        frequency aliases.
    tz : str or tzinfo, optional
        Time zone name for returning localized DatetimeIndex, for example
        'Asia/Hong_Kong'. By default, the resulting DatetimeIndex is
        timezone-naive.
    normalize : bool, default False
        Normalize start/end dates to midnight before generating date range.
    name : str, default None
        Name of the resulting DatetimeIndex.
    closed : {None, 'left', 'right'}, optional
        Make the interval closed with respect to the given frequency to
        the 'left', 'right', or both sides (None, the default).
    **kwargs
        For compatibility. Has no effect on the result.

    Returns
    -------
    rng : DatetimeIndex

    See Also
    --------
    DatetimeIndex : An immutable container for datetimes.
    timedelta_range : Return a fixed frequency TimedeltaIndex.
    period_range : Return a fixed frequency PeriodIndex.
    interval_range : Return a fixed frequency IntervalIndex.

    Notes
    -----
    Of the four parameters ``start``, ``end``, ``periods``, and ``freq``,
    exactly three must be specified. If ``freq`` is omitted, the resulting
    ``DatetimeIndex`` will have ``periods`` linearly spaced elements between
    ``start`` and ``end`` (closed on both sides).

    To learn more about the frequency strings, please see `this link
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases>`__.

    Examples
    --------
    **Specifying the values**

    The next four examples generate the same `DatetimeIndex`, but vary
    the combination of `start`, `end` and `periods`.

    Specify `start` and `end`, with the default daily frequency.

    >>> pd.date_range(start='1/1/2018', end='1/08/2018')
    DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
                   '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
                  dtype='datetime64[ns]', freq='D')

    Specify `start` and `periods`, the number of periods (days).

    >>> pd.date_range(start='1/1/2018', periods=8)
    DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
                   '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
                  dtype='datetime64[ns]', freq='D')

    Specify `end` and `periods`, the number of periods (days).

    >>> pd.date_range(end='1/1/2018', periods=8)
    DatetimeIndex(['2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
                   '2017-12-29', '2017-12-30', '2017-12-31', '2018-01-01'],
                  dtype='datetime64[ns]', freq='D')

    Specify `start`, `end`, and `periods`; the frequency is generated
    automatically (linearly spaced).

    >>> pd.date_range(start='2018-04-24', end='2018-04-27', periods=3)
    DatetimeIndex(['2018-04-24 00:00:00', '2018-04-25 12:00:00',
                   '2018-04-27 00:00:00'],
                  dtype='datetime64[ns]', freq=None)

    **Other Parameters**

    Changed the `freq` (frequency) to ``'M'`` (month end frequency).

    >>> pd.date_range(start='1/1/2018', periods=5, freq='M')
    DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
                   '2018-05-31'],
                  dtype='datetime64[ns]', freq='M')

    Multiples are allowed

    >>> pd.date_range(start='1/1/2018', periods=5, freq='3M')
    DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
                   '2019-01-31'],
                  dtype='datetime64[ns]', freq='3M')

    `freq` can also be specified as an Offset object.

    >>> pd.date_range(start='1/1/2018', periods=5, freq=pd.offsets.MonthEnd(3))
    DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
                   '2019-01-31'],
                  dtype='datetime64[ns]', freq='3M')

    Specify `tz` to set the timezone.

    >>> pd.date_range(start='1/1/2018', periods=5, tz='Asia/Tokyo')
    DatetimeIndex(['2018-01-01 00:00:00+09:00', '2018-01-02 00:00:00+09:00',
                   '2018-01-03 00:00:00+09:00', '2018-01-04 00:00:00+09:00',
                   '2018-01-05 00:00:00+09:00'],
                  dtype='datetime64[ns, Asia/Tokyo]', freq='D')

    `closed` controls whether to include `start` and `end` that are on the
    boundary. The default includes boundary points on either end.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed=None)
    DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04'],
                  dtype='datetime64[ns]', freq='D')

    Use ``closed='left'`` to exclude `end` if it falls on the boundary.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed='left')
    DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03'],
                  dtype='datetime64[ns]', freq='D')

    Use ``closed='right'`` to exclude `start` if it falls on the boundary.

    >>> pd.date_range(start='2017-01-01', end='2017-01-04', closed='right')
    DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04'],
                  dtype='datetime64[ns]', freq='D')

In [26]:
num=np.arange(10)
s2=pd.Series(num,index=np.arange(20,30))
s2

20    0
21    1
22    2
23    3
24    4
25    5
26    6
27    7
28    8
29    9
dtype: int32

In [27]:
s2[0:2]

20    0
21    1
dtype: int32

In [28]:


s2[20]

0

In [29]:
s2[20,21]  #error

KeyError: (20, 21)

In [30]:
s2[[20,21]]   # fancy indexing to get more than one value at a time

20    0
21    1
dtype: int32

In [31]:
# to create a series with nan(not a number--null value) value

d={"a":45,"b":56,"c":78,"d":67,"e":np.nan,"y":"abc"}
s1=pd.Series(d)
s1

a     45
b     56
c     78
d     67
e    NaN
y    abc
dtype: object

In [32]:
s1['e']=89    # assigning value to a null value

In [33]:
s1

a     45
b     56
c     78
d     67
e     89
y    abc
dtype: object

In [34]:
# Creating Dataframe

l=[90,89,76,54,34]
df=pd.DataFrame(l)
df

    0
0  90
1  89
2  76
3  54
4  34

In [35]:
# creating dataframe by using nested list

l=[[1,2,3],[4,5,6],[7,8,9]]
df2=pd.DataFrame(l)
df2  # row index, col index starting from 0

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [38]:
df2.index=["a","b","c"]  # row index changing
df2

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

In [39]:
df2.columns=[111,222,333]  #column index changing
df2

   111  222  333
a    1    2    3
b    4    5    6
c    7    8    9