### Data structures are way of organizing and storing data

* Lists
* Tuples
* Dictionary
* Sets

### Lists

* List is a datastructure that holds an ordered collection of itemS
* Lists allows duplicates
* you can recognize list by their square brackets[]
* list is mutable, which means that you can change their content

In [2]:
# empty list

li=[]
print(li)

[]

In [3]:
li=[12,67.98,'python']  #all datatypes

print(li)

[12, 67.98, 'python']

In [4]:
li=[12,12,1,4,89,90]  #duplicates
print(li)

[12, 12, 1, 4, 89, 90]

In [5]:
print(type(li))

<class 'list'>

In [6]:
print(len(li))   #length of list i.e no of items

6

In [7]:
sum(li)  #sum of list items li

208

In [8]:
min(li)  #minimum value

1

In [9]:
li

[12, 12, 1, 4, 89, 90]

In [10]:
max(li)   #maximum value

90

In [11]:
sorted(li)   #sorted order ascending order

[1, 4, 12, 12, 89, 90]

In [12]:
# Accessing list elements

li=[24,34,12,45,10]  #list supports indexing and slicing

# forward indexing or positive indexing 0,1,2.....
# backward indexing or negative indexing -> -1,-2,-3 ......

#li=[24,34,12,45,10]
#     0, 1 ,2, 3, 4    -> forward index
    
    
#li=[24,34,12,45,10]  
#    -5,-4,-3,-2,-1  -> backward index

In [18]:
li=[24,34,12,45,10]   #positive index
print(li[0])
print(li[1])
print(li[2])
print(li[3])
print(li[4])

24
34
12
45
10

In [20]:
li=[24,34,12,45,10]   #negative indexing
print(li[-1])   #last element
print(li[-2])
print(li[-5])  #first element

10
45
24

In [23]:
# slicing  [start:stop:step]

li=[24,34,12,45,10]

# 34,12,45
li[1:4]  #start index, endingindex+1

[34, 12, 45]

In [24]:
li[::2]  #alternative elements

[24, 12, 10]

In [25]:
li[::-1]    #reverse order

[10, 45, 12, 34, 24]

In [29]:
# concatenation '+'  i.e combining

l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
print(l1+l2)  #combining both lists
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [30]:
# repetition '*'  to repeat list items for required no of times

l1=[1,2,3,4,5]
l1*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [35]:
# nested list - list inside another list

l=[56,78,54,90,[10,20,30],70]  #nested list
print(l)
print(type(l))
print(l[2])
print(l[3])

[56, 78, 54, 90, [10, 20, 30], 70]
<class 'list'>
54
90
[10, 20, 30]

In [36]:
print(l[4])  #nested list

[10, 20, 30]

In [37]:
print(l[4][0])  #to access nested list elements

10

In [38]:
print(l[4][2])

30

In [39]:
l

[56, 78, 54, 90, [10, 20, 30], 70]

In [42]:
l[3]=900  #list is mutable
l

[56, 78, 54, 900, [10, 20, 30], 70]

In [43]:
print(dir(list),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### adding items to list

In [53]:
l=[10,20,40,89,65]
l.append(100)  # to add one item at the end of the list 
print(l)

[10, 20, 40, 89, 65, 100]

In [54]:
l.insert(2,30)   #to insert item at a particular index
l

[10, 20, 30, 40, 89, 65, 100]

In [55]:
l.insert(3,65)
l

[10, 20, 30, 65, 40, 89, 65, 100]

In [56]:
l.count(65)   #gives you no of times of item repetition inside list

2

In [57]:
l.count(40)

1

In [58]:
l.index(100)   #to know the index of particular item inside the list

7

### removing value from a list

In [59]:
l

[10, 20, 30, 65, 40, 89, 65, 100]

In [60]:
l.remove(30)   #to remove list item by using value
l

[10, 20, 65, 40, 89, 65, 100]

In [61]:
l.pop(0)  # removing item by using index
l

[20, 65, 40, 89, 65, 100]

In [69]:
l.reverse()   # reverse the list elements
l

[20, 65, 40, 89, 65, 100]

## sorting -> arranging elements in an order
### ascending order -> incremental order
### descending order -> decremental order`

In [71]:
l=[45,1,89,76,34,90]
l.sort()                #ascending order
print("incresing order",l)

incresing order [1, 34, 45, 76, 89, 90]

In [74]:
l.sort(reverse=True)
print("decreasing order",l)

decreasing order [90, 89, 76, 45, 34, 1]

### difference between append() and extend()

In [76]:
l1=[10,20,30,40,50]
l2=[1,2,3,4,5]
l1.append(l2)
print(l1)
print(l2)

[10, 20, 30, 40, 50, [1, 2, 3, 4, 5]]
[1, 2, 3, 4, 5]

In [77]:
l1=[10,20,30,40,50]
l2=[1,2,3,4,5]
l1.extend(l2)  # we can add more than 1 item to the existing list
print(l1)
print(l2)

[10, 20, 30, 40, 50, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [83]:
l=[6,7,8,9,10]
l.append([900,90])
l.extend([800,700])
l

[6, 7, 8, 9, 10, [900, 90], 800, 700]

In [93]:
# assignment

l=[90,87,65,45]
l1=l
print(l)
print(l1)
l1.append(100)
print(l)
print(l1)

[90, 87, 65, 45]
[90, 87, 65, 45]
[90, 87, 65, 45, 100]
[90, 87, 65, 45, 100]

In [94]:
# copy

l=[90,87,65,45]
l2=l.copy()
print(l2)
print(l)
l2.append(100)
print(l2)
print(l)

[90, 87, 65, 45]
[90, 87, 65, 45]
[90, 87, 65, 45, 100]
[90, 87, 65, 45]

In [95]:
l2.clear()  # to clear list items

In [96]:
l2

[]

In [97]:
del l  # deleting the list

In [98]:
l

NameError: name 'l' is not defined

In [103]:
# iterating through a list 

l=[10,20,30,40,50]
for i in l:         #by values
    print(i,end=" ")

10 20 30 40 50

In [104]:
for i in range(len(l)):   #0,1,2,3,4
    print(l[i],end=" ")   # index

10 20 30 40 50

In [105]:
### example

#i/p : l=[1,2,3,4,5]  o/p : [2 4 6 8 10]

l=[1,2,3,4,5] 
li=[]
for i in l:
    li.append(i*2)
    
print(li)

[2, 4, 6, 8, 10]

In [106]:
# Duplicates elements remove

l=[1,2,34,45,6,78,5,2,2,45]   

li=[]
for i in l:
    if i not in li:
        li.append(i)
        
print(li)

[1, 2, 34, 45, 6, 78, 5]

In [108]:
# unique elements

l=[10,90,90,65,43,10]  # 65,43
li=[]
for i in l:
    if l.count(i)==1:
        li.append(i)
print(li)

[65, 43]

In [110]:
# no of occurances

l=[4,6,7,8,4,7,8,9,45]
for i in l:
    if l.count(i)==1:
        print(i)

6
9
45