### Dictionary and its methods

* dictionary is a set of key,value pair or collection of items
* In dictionary keys acts as index to access values

In [3]:
# creating an empty dictionary

d=dict()

In [4]:
type(d)

dict

In [5]:
d1={}  #empty dictionary
type(d1)

dict

In [6]:
#dictionary with integer keys  {key:value}

d={1:"sai",2:"keerthi",3:"lokesh"}
print(d)

{1: 'sai', 2: 'keerthi', 3: 'lokesh'}

In [7]:
d.keys()  #to get only keys

dict_keys([1, 2, 3])

In [8]:
d.values() # to get only values

dict_values(['sai', 'keerthi', 'lokesh'])

In [9]:
d.items()   #to get items

dict_items([(1, 'sai'), (2, 'keerthi'), (3, 'lokesh')])

In [18]:
# dictionary with mixed keys

d1={'name':'bhanu','age':15,1:[1,2,3]}
d1

{'name': 'bhanu', 'age': 15, 1: [1, 2, 3]}

In [19]:
# accessing dictionary values by using keys as index

d1['age']

15

In [20]:
d1['name']

'bhanu'

In [21]:
d1[1]

[1, 2, 3]

In [23]:
d1[1][2]

3

In [24]:
d1[1][1]

2

In [25]:
d1

{'name': 'bhanu', 'age': 15, 1: [1, 2, 3]}

In [26]:
d1[15]

KeyError: 15

In [28]:
#changing values of the dictionary

d={'apple':10,'bat':20,'cat':30}
d

{'apple': 10, 'bat': 20, 'cat': 30}

In [30]:
d['apple']=100  #changing dictionary value

In [31]:
d

{'apple': 100, 'bat': 20, 'cat': 30}

In [32]:
# adding values to the dictionary

d['house']=60

In [33]:
d

{'apple': 100, 'bat': 20, 'cat': 30, 'house': 60}

In [34]:
# length of dictionary

len(d)

4

In [35]:
# Removing elements from dictionary

#pop()

d.pop('cat')  #key

30

In [36]:
d

{'apple': 100, 'bat': 20, 'house': 60}

In [37]:
d.popitem()  #remove item in key,value pair

('house', 60)

In [38]:
d

{'apple': 100, 'bat': 20}

In [39]:
# del,  to remove individual elements or dictionary itself

a={1:10,2:20,3:30,4:40,5:50,6:60}
a

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [40]:
del a[3]  #key

In [41]:
a

{1: 10, 2: 20, 4: 40, 5: 50, 6: 60}

In [42]:
del a #removing entire dictionary

In [43]:
a

NameError: name 'a' is not defined

In [44]:
# clear, to clear dictionary

b={1:1290,2:9087}
b

{1: 1290, 2: 9087}

In [45]:
b.clear()

In [46]:
b    #empty dictionary

{}

In [47]:
b[8]=67     #dictionary[key]=value
b

{8: 67}

In [50]:
dir(b)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [2]:
# copying values from one dictionary to another

dic1={'a':100,'b':200,'c':300}
dic2={'d':400,'e':500,'f':600}

dic1=dic2.copy()  #copying dic2 values into dic1
dic1

{'d': 400, 'e': 500, 'f': 600}

In [3]:
dic2

{'d': 400, 'e': 500, 'f': 600}

In [4]:
dic2['g']=900   #updating by using key as index

In [5]:
dic2

{'d': 400, 'e': 500, 'f': 600, 'g': 900}

In [6]:
# update()

dic2.update({'h':1000})
dic2

{'d': 400, 'e': 500, 'f': 600, 'g': 900, 'h': 1000}

In [7]:
# get -> to get the value of given key

dic2.get('h')

1000

In [8]:
dic2.get('f')

600

In [10]:
# sorted()

dic2

{'d': 400, 'e': 500, 'f': 600, 'g': 900, 'h': 1000}

In [14]:
d={1:100,3:200,6:300,7:400,8:500}
d

{1: 100, 3: 200, 6: 300, 7: 400, 8: 500}

In [15]:
d[2]='rama'

In [16]:
d

{1: 100, 3: 200, 6: 300, 7: 400, 8: 500, 2: 'rama'}

In [17]:
sorted(d)  #depends on keys

[1, 2, 3, 6, 7, 8]

In [18]:
d

{1: 100, 3: 200, 6: 300, 7: 400, 8: 500, 2: 'rama'}

In [19]:
sorted(d,reverse=True)  #descending order

[8, 7, 6, 3, 2, 1]

In [20]:
d

{1: 100, 3: 200, 6: 300, 7: 400, 8: 500, 2: 'rama'}

In [21]:
# dictionary membership -> in

d

{1: 100, 3: 200, 6: 300, 7: 400, 8: 500, 2: 'rama'}

In [22]:
print(7 in d)  #testing keys present or not

True

In [23]:
print(4 in d)

False

In [24]:
# Iterating through a dictionary

for key in d.keys():   # to retrieve only keys
    print(key,end=" ")

1 3 6 7 8 2

In [25]:
for val in d.values(): #to retrieve only values
    print(val,end=" ")

100 200 300 400 500 rama

In [28]:
for k,v in d.items():  # to retrieve both key,value pair
    print(k,':',v,',',end=" ")

1 : 100 , 3 : 200 , 6 : 300 , 7 : 400 , 8 : 500 , 2 : rama ,

In [29]:
for k in d:
    print(k,end=" ")   #keys

1 3 6 7 8 2

In [30]:
for k in d:
    print(d[k],end=" ")   #values

100 200 300 400 500 rama

In [41]:
#fromkeys()

x=(1,2,3)
y=(900)

dl=dict.fromkeys(x,y)
dl

{1: 900, 2: 900, 3: 900}

In [42]:
#setdefault()  -> return value if key is present,
#otherwise returns none or default value

d1={1:'p',2:'n',3:'g'}
a=d1.setdefault(1)  #if key is in dictionary
print("default",a)
print(d1)

default p
{1: 'p', 2: 'n', 3: 'g'}

In [43]:
a1=d1.setdefault(4)  #if key is not present
print(a1)
print(d1)

None
{1: 'p', 2: 'n', 3: 'g', 4: None}

In [44]:
a2=d1.setdefault(5,'l')
print(a2)
print(d1)

l
{1: 'p', 2: 'n', 3: 'g', 4: None, 5: 'l'}

In [47]:
# print sum  of all student marks

d={'python':89,'maths':90,'english':76}   #sum = 89+90+76
s=sum(d.values())
print("sum is:", s)

sum is: 255

In [49]:
# print average of all marks

d={'python':89,'maths':90,'english':76}   #average=sum/no of values

lis=d.values()
s=sum(lis)
n=len(lis)
avg=s/n
print("average : ", avg)

average :  85.0

In [56]:
# print name:marks format

d="Mamatha 65 durga 76 amulya 54"
print(type(d))
d1=d.split()
d1
n=[]
s=[]
d={}
for i in d1:
    if i.isdigit():
        n.append(i)
    else:
        s.append(i)
        
for  i in range(len(s)):
    d[s[i]]=int(n[i])
print(d)

<class 'str'>
{'Mamatha': 65, 'durga': 76, 'amulya': 54}

In [59]:
# print student name who have maximum marks

d={"stu1":90,"stu2":92,"stu3":78,"stu4":87}

m=max(d.values())
for k,v in d.items():
    if v==m:
        print(k)

stu2

## Tuple and its methods

* tuple is a collection of objects
* tuple uses parenthesis
* tuple are immutable, i.e not changeable

In [60]:
# Advantages 

# tuples are immutable,iterating through a tuple is fast compared to list
# if you have data that does not change,implementing it as tuple will guarantee the write proctected

In [61]:
# creating a tuple

t=()
print(type(t))

<class 'tuple'>

In [62]:
t1=tuple()
print(type(t1))

<class 'tuple'>

In [64]:
a=(1,89,76)  #integer tuple
a

(1, 89, 76)

In [65]:
b=(4,"python",89.7)  #tuple of different types
b

(4, 'python', 89.7)

In [68]:
# tuple packing

t=1, 'java' , 65.4
print(t)

x,y,z=t

print(x)
print(y)
print(z)

(1, 'java', 65.4)
1
java
65.4

In [70]:
t=('jj')   #creating tuple with one element is a bit tricky
print(type(t))

<class 'str'>

In [71]:
t=('hello',)
print(type(t))

<class 'tuple'>

In [72]:
t='hello',
print(type(t))

<class 'tuple'>